@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
	font-family: "Roboto", sans-serif;
	line-height: 1.8;
}

h1,h2,h3,h4 {
	font-weight: 800 -important;
}

a {
	text-decoration: none;
	transition: all 0.4s ease;
	font-weight: 800;
	
}






.home-section{
	min-height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	padding: 10px 22px;
	transition: all 0.3s ease;
}
.btn-main{
	background: linear-gradient(to left, #00e0fe , #1107fe);
    border-radius: 100px;
    border: none;
font-weight: 600;
color: white;	
}
.btn: hover{
	color:#fff;
	transform: translateY(-5px);
}
	

	
	
	
}
.navbar:before{
content: "";
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0:
opacity: .3;
z-index: -1;
background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%) ;
}

.nav-item a{
color: #fff!important;
font-weight: bold;
}

.header-extradiv{
width: 100%; height: auto;
margin:100px 0;
text-align: center; 
}

.extra-div{
background: #fff;
border: medium none;
padding: 50px !important;
border-radius: 3px;
transition: 0.3s;
text-align: center; 
}

.extra-div:hover{
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
transform: translateY(-20px);
}

.footersection{
height: auto;	
width:100%;
padding: 30px 0 20px 0;
background: linear-gradient(to left, #00e0fe , #1107fe);
position; relative;
}

.footersection p{
color: #fff;
}

.footersection li a{
font-size: 0.9rem;
line-height:1.6;
font-weight: 400;
color: #fff;
text-transform: capitalize;

}

#myBtn{
<!--display: none-->
position:fixed;
botton: 20px;
right: 40px;
z-index: 99;
border: none;
color:#fff;
background: black;
padding: 10px;
border-radius: 10px;
}


.extra-div h2{
front-size: 0.9rem;
margin: 20px 0 15px 0;
font-weight: bold;
line-height: 1.1;
word-spacing: 4px;
}

#vid-par {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: overlay;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
	
}
#vid-content{
	text-align:center;
	padding: 0 200px;
}

#my-vid{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	z-index: -1;
}
